.ResourceNode__Name {
  font-family: monospace;
}

.ResourceNode__Name > * {
  padding-left: 3px;
  padding-right: 3px;
}

.ResourceNode__CoroutineName {
  background-color: rgb(0, 209, 255);
  font-weight: bolder;
  font-size: larger;
}

.ResourceNode__Name__DESTROYED .ResourceNode__ResourceName {
  background-color: rgba(199, 199, 199, 0.3);
}

.ResourceNode__Name__STARTED .ResourceNode__ResourceName {
  background-color: rgba(163, 230, 0, 0.3);
}
