.BaseResourceNode__Name,
.CoroutineNode__Name {
  font-family: monospace;
}
.BaseResourceNode__Name > *,
.CoroutineNode__Name {
  padding-left: 3px;
  padding-right: 3px;
}

.CoroutineNode__Name {
  background-color: rgba(0, 220, 255, 1);
}

.BaseResourceNode__Name__DESTROYED {
  background-color: rgba(238, 26, 161, 0.2);
}

.BaseResourceNode__Name__STARTED {
  background-color: rgba(36, 255, 0, 0.52);
}

.BaseResourceNode__Chevron {
  cursor: pointer;
}
