{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "target": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
